body, html {
  margin: 0;
  padding: 0;
  background: transparent;
  overflow: hidden;
}

.poster {
  width: 594mm;
  height: 841mm;
  position: relative;
  overflow: hidden;
  ;
}

.poster-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -10;
}


.gif {
  position: absolute;
  z-index: 12;
  width: 70mm;
  height: 70mm;
  background: transparent;
}
.gif1 { left: 84mm; top: 110mm; }
.gif2 { left: 420mm; top: 330mm; }
.gif3 { left: 86mm; top: 453mm; }



.gif img { width: 142%; height: 100%; object-fit: cover; }

.moving-title {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 82mm;
  display: flex;
  align-items: center;
  font-family: 'Roboto Slab', serif;
  font-size: 48pt;
  font-weight: 100;
  color: #111;
  background: transparent;
  white-space: nowrap;
  z-index: 10;
  padding-left: 10vw;
  animation: move-title 10s linear infinite;
}

@keyframes move-title {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(100vw - 100%)); }
}



.interview-vertical-clip {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 80%;
  max-width: 1000mm;
  height: 60pt;
  transform: translate(-50%, -50%)rotate(90deg);
  overflow: hidden;
  z-index: 20;
  display: flex;
  align-items: center;
}

.interview-track {
  display: block;
  font-family: 'Roboto Slab', serif;
  font-size: 40pt;
  font-weight: 400;
  color: #111;
  white-space: nowrap;
  animation: interview-up 8s linear infinite;
}

@keyframes interview-up {
  0%   { transform: translateY(100%); }
  100% { transform: translateY(-110%); }
}
